<!DOCTYPE html>

<html>

    <head>
        <title>Navigation</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <style>
    
    </style>
    </head>

    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Twitter</a>
            <a href="/sign-up" class="navbar-brand">Sign Up</a>
            <!-- ! The username needs to be stored in a cookie or session storage idk -->
            <a href="/{{.Username}}" class="navbar-brand">Account</a>
            <details class="dropdown">
                <summary>
                <img src="path/to/your/image.jpg" alt="Profile Picture" style="border-radius: 50%; width: 40px; height: 40px;">
                </summary>
                <ul dir="rtl">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Sign Up</a></li>
                  <li><a href="#">Security</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </details>
        </nav>