<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    {{ template "nav.html" }}

    <form action="/sign-up" method="POST">
        <div class="grid">
            <label for="firstname">
                First name
                <input type="text" id="firstname" name="firstname" placeholder="First name" required>
            </label>
            <label for="lastname">
                Last name
                <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </label>
        </div>
        <label for="username">
            Username
            <input type="text" id="username" name="username" placeholder="Username" required>
        </label>
        <button type="submit">Submit</button>
    </form>

    {{ template "footer.html" }}
</body>

</html>