<!DOCTYPE html>

<html lang="en">
  <link
    href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <body>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/mithril.min.js"></script>
    <!-- <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mithril/2.0.4/mithril.min.js"
    ></script> -->

    <div id="elem"></div>
    <script>
      var root = document.body
      var elem = document.getElementById('elem')
      var posts_list = []
      m.request({
        method: 'POST',
        url: '/test',
      }).then(function (result) {
        for (let i = 0; i < result.posts.length; i++) {
          console.log(result.posts[i])
          return m("div", result.posts[i])
        }
        // posts_list.push(result)
      })
      console.log(posts_list)

      // var Data = {
      //   fetch: function () {
      //     m.request({
      //       method: 'POST',
      //       url: '/test'
      //     }).then(function (result) {
      //       for (let i = 0; i < result.posts.length; i++) {
      //         console.log(result.posts[i])
      //         // return m('div', String(result.posts[i]))
      //       }
      //       // posts_list.push(result)
      //     })
      //   }
      // }

      // m.render(elem, Data)
    </script>
  </body>
</html>
