<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Profile</title>
    </head>

    <body>
        {{ template "nav.html" }}
        <h1>User: {{ .Username }}</h1>

        <h2>Create a Post:</h2>
        <form action="/create-post" method="POST">
            <input type="hidden" name="username" value="{{ .Username }}">
            <div>
                <label for="contents">Contents:</label>
                <textarea id="contents" name="contents" required></textarea>
            </div>
            <button type="submit">Post</button>
        </form>

        <h2>Posts:</h2>
        {{ range .Posts }}
        {{ template "post_component.html" . }}
        {{ end }}

        {{ template "footer.html" }}
    </body>
    <script>
        document.querySelectorAll('.delete-post-form').forEach(form => {
        form.addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const response = await fetch('/delete-post', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            if (result.success == false) {
                alert(result.message);
            }
            window.location.reload();
        });
    });
    </script>
</html>